html, body {
  margin: 10;
  padding: 0;
  background-color:white;
  color: #9d0808;
  font-family: 'Courier New'; 
}

.body-text{
  color: #9d0808;
  font-family: 'Courier New'; 
}

h1{
 margin: 10;
 color: #9d0808;
}

.container {
  background: red;
}

canvas {
  display: block;
}

.me {
  color:red;
}

about{
  color: #9d0808;
}